# input
genome.gtf
test.paired_end.sorted.bam
# logs
*.out
# results
counts.txt*
cov_test.paired_end.sorted.bam
cov_genome.gtf
cov_counts.txt
cov_counts.txt.summary
work/
data/
results/
.nextflow*
nextflow
